<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atgui.mybatis.mapper.UserMapper">
    <!--  int insertUser();  -->
    <insert id="insertUser">
        insert into t_user values(null,'hhhh','123456',23,'nan','12345@qq.com')
    </insert>

<!--    void updateUser();-->
    <update id="updateUser">
        update t_user set username = 'zhangsan' where id = 4
    </update>

<!--    void deleteUser();-->
    <delete id="deleteUser">

    </delete>
</mapper>